
<!-- cards creator http://www.smfcorp.net/funcards/smffcmonline/index2.php -->
<div *ngIf="!fromHomeWidgetsToCards; else getCardsByElement" class="container"> 
  <div  *ngFor="let type of types">
    <div class="card col-md-4" (click)="getCardsFromType(type)" [ngStyle]="{'background-image': 'url(' + type.bgUrl +')'}">
    </div>
  </div>
</div>
<ng-template #getCardsByElement>
  <div class="pager">
    <button class="btn btn-secondary" (click)="activateHomeLayout()">Back to Home</button>
    <app-pager #cardsByType [listCards]="cardsByColor" [(elementCardText)]="elementCardText" ></app-pager>
  </div>
</ng-template>