.invalid-feedback {
    color: darkred;
}
.container {
    max-width: 30em;
    text-align: center;
    // z-index:50;
    background-color: rgba(255,255,255,0.5);
    padding: 2em;
    border-radius: 0.5em;
    margin-top: 2em;
}
h2 {
    font-weight: 900;
}
// .background-log {
//     position: absolute;
//     float: left;
//     top: 3em;
//     left: 45em;
//     max-width: 45em;
//     max-height: 60em;
//     pointer-events: none;
// }
.btn-link {
    color: darkblue;
}