<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">
    <fa-icon [icon]="faHome" size="lg"></fa-icon>  
  </a>
  <a *ngIf="logedIn; else signUpOrIn" class="navbar-brand" [routerLink]="['/deck-builder']">
    <i class="fas fa-folder-plus"></i>
  </a>
  <a *ngIf="logedIn" class="navbar-brand" [routerLink]="['/profil']">
    <i class="fas fa-user-circle"></i>
  </a>
  <span *ngIf="logedIn">Bienvenue </span>
  <ng-template #signUpOrIn>
  <a class="navbar-brand" [routerLink]="['/sign-up']" >
    <fa-icon [icon]="faUserPlus" size="lg" ></fa-icon>
  </a>
  <a class="navbar-brand" [routerLink]="['/sign-in']">
    <fa-icon [icon]="faSignIn" size="lg" ></fa-icon>
  </a>
  </ng-template>

  <div class="input-group mb-3">
    <input type="text" class="form-control" (change)="onSearchChange($event)" placeholder="Recherche..." aria-label="Recherche..." >
    <!-- <ul>
        <li ng-repeat="card in cards | filter : searchText">
          {{ c }}
        </li>
    </ul> -->
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Valider</button>
    </div>
    <a *ngIf="logedIn" (click)="logOut()" class="btn btn-info">
      Déconnexion
    </a>
  </div>
  <h1 class="titleHeader font-italic">
    {{ title }}
  </h1>
</nav>
