.card {
    width: 250px;
    height: 340px;
    margin: 5px;
    border-radius:15px;
    background-size: cover;
}
.pagination {
    margin: 10px 0 70px !important;
    color: black;
}
h1 {
    color: white;
}
.bar-bottom-actions {
    bottom:0px;
    position:absolute;
    display: flex;
}
.container{
    max-width: 1100px;
}
