<div style="display:flex;">
  <div class="cards-container">
    <h2>Liste des cartes</h2>

    <div
      cdkDropList
      #cardList="cdkDropList"
      [cdkDropListData]="cards"
      [cdkDropListConnectedTo]="[deckList]"
      class="cards-list"
      (cdkDropListDropped)="drop($event)">
      <img  class="card" src='{{item.imageUrl}}' *ngFor="let item of cards" cdkDrag/>
    </div>
  </div>

  <div class="deck-container">
    <h2>Deck</h2>

    <div
      cdkDropList
      #deckList="cdkDropList"
      [cdkDropListData]="deck"
      [cdkDropListConnectedTo]="[cardList]"
      class="cards-list"
      (cdkDropListDropped)="drop($event)">
      <img  class="cards-box" src='{{item.imageUrl}}' *ngFor="let item of deck" cdkDrag/>
    </div>
  </div>
</div>