.card {
    width: 20rem !important;
    height: 20rem !important;
    color:white;
    text-align: center;
    background-color: rgb(124, 0, 0);
}
.container{
    margin-top: 50px;
}
.imgCards{
    width: 100px;
    height:100px;
    text-align: center;
}